html{
    height: 100%;
}
body{
    background-color:#121111;
    color: rgb(0, 0, 0);
    height: 100%;
    margin: 10px;
    color:var(--white)
}
:root {
    --gris: rgb(27 26 28);
	--black: #222;
	--main-color: rgb(144, 108, 180);
	--white: #f7f7f7;
	--background: rgba(76, 0, 130, 0.02);
}
.contenedor{
    height: 100%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer{
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-nombre{
    border-radius: 5px;
	padding: 5px 10px;
	background: var(--gris);
	border: 1px solid rgb(255, 255, 255);
	margin: 2px 0 10px;
	color: var(--gris);
	height: 40px;
	width: 240px;
    
}
.input-nombre::placeholder {
    color: rgb(255, 255, 255);
    
    
  }
.input-ingresar{
    background: rgb(251 129 58);
	color: var(--black);
    height: 40px;
    width: 262px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.volver-btn2{
    color: var(--white);
}
    .form-inputs-contentedor{
        height: 100%;
        width: 100%;
        display: flex;
        /* justify-content: center; */
            align-items: center;
        flex-direction: column;
    }